@media screen and (min-width: 1024px) {
  body {
    main {
      width: 50%;
      margin: 0 auto;
      flex-direction: row;

      .gradient-bg {
        z-index: -1;
        position: absolute;
        left: -60%;
        top: -20%;
      }

      #booking {
        margin: 0;
      }
    }
  }
}
